<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>账号与安全</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>新消息通知</string>
		</dict>
		<dict>
			<key>name</key>
			<string>隐私</string>
		</dict>
		<dict>
			<key>name</key>
			<string>通用</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>关于微信</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>退出登录</string>
		</dict>
	</array>
</array>
</plist>
