<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>一切皆为虚幻。</string>
		<key>headImg</key>
		<string>lin.png</string>
		<key>nickname</key>
		<string>夢落余傷</string>
	</dict>
	<dict>
		<key>content</key>
		<string>佛曰，不可说。</string>
		<key>headImg</key>
		<string>kenan.png</string>
		<key>picture</key>
		<string>picture1.png</string>
		<key>nickname</key>
		<string>三秒梦三年痛</string>
	</dict>
	<dict>
		<key>content</key>
		<string>色即是空，空即是色。</string>
		<key>headImg</key>
		<string>kong.png</string>
		<key>picture</key>
		<string>picture2.png</string>
		<key>nickname</key>
		<string>你懂我</string>
	</dict>
	<dict>
		<key>content</key>
		<string>一花一世界，一佛一如来。</string>
		<key>headImg</key>
		<string>hua.png</string>
		<key>picture</key>
		<string>picture3.png</string>
		<key>nickname</key>
		<string>谁是你的新郎</string>
	</dict>
	<dict>
		<key>content</key>
		<string>前生500次的回眸才换得今生的一次擦肩而过。</string>
		<key>headImg</key>
		<string>yang.png</string>
		<key>picture</key>
		<string>picture4.png</string>
		<key>nickname</key>
		<string>劳资就是怂¨</string>
	</dict>
	<dict>
		<key>content</key>
		<string> 菩提本无树, 明镜亦非台. 本来无一物, 何必惹尘埃 佛前有花，名优昙华，一千年出芽，一千年生苞，一千年开花，弹指即谢，刹那芳华寒山问拾得：世间有人谤我、欺我、辱我、笑我、轻我、贱我、骗我，如何处治乎？拾得曰：只要忍他、让他、由他、耐他、敬他、不要理他，再过几年你且看他。</string>
		<key>headImg</key>
		<string>long.png</string>
		<key>picture</key>
		<string>picture5.png</string>
		<key>nickname</key>
		<string>女王的骄傲、你比不了</string>
	</dict>
	<dict>
		<key>content</key>
		<string>以物物物，则物可物；以物物非物，则物非物。物不得名之功，名不得物之实，名物不实，是以物无佛语有云：生不带来，死不带去。</string>
		<key>headImg</key>
		<string>tang.png</string>
		<key>nickname</key>
		<string>╰︶悲傷過後</string>
	</dict>
	<dict>
		<key>content</key>
		<string>风亦不动，树亦不动，乃汝心动也。</string>
		<key>headImg</key>
		<string>yan.png</string>
		<key>picture</key>
		<string>picture7.png</string>
		<key>nickname</key>
		<string>°保畄..臫巳‵</string>
	</dict>
	<dict>
		<key>content</key>
		<string>菩提本无树，明镜亦非台，本来无一物，何处惹尘埃。</string>
		<key>headImg</key>
		<string>kai.png</string>
		<key>picture</key>
		<string>picture8.png</string>
		<key>nickname</key>
		<string>欲戴王冠必承其重@</string>
	</dict>
</array>
</plist>
